/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Color */
/* -------------------------------------- */
:root {
	--black: #181818;
	--lightBlack: #202020;
	--grey: #8f8f8f;
	--lightGrey: #313131;
	--darkGrey: #303030;
}

/* Layout of Pages */
/* -------------------------------------- */
html,
body {
	box-sizing: border-box;
	height: 100%;
	background-color: var(--black);
	font-family: 'Roboto', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* Navigation Header */
/* -------------------------------------- */
.header {
	background-color: var(--lightBlack);
}

.search-box-container {
	width: 700px;
	max-width: 700px;
}

@media only screen and (max-width: 630px) {
	.search-box-container {
		width: 0;
		visibility: hidden;
	}
}

/* Main Content Wrapper Grid */
/* -------------------------------------- */
.mainContentWrapper {
	display: grid;
	grid-template: auto 1fr / 2fr 1fr;
	padding: 2rem;
}

/* iframe */
/* -------------------------------------- */
.iframe-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Divider line between YouTube Author */
/* -------------------------------------- */
.line {
	border: 0.01rem solid var(--darkGrey);
	background-color: var(--darkGrey);
}

.subscribe-button {
	background-color: #bd0000;
	width: auto;
	height: auto;
	margin-left: auto;
	padding: 0.5rem;
	border-radius: 2px;
	font-weight: 500;
	background-color: #bd0000;
}

/* Comments */
/* -------------------------------------- */
.comment-input {
	flex-grow: 1;
	align-self: self-start;
	height: 2.5rem;
	background-color: transparent;
	border: none;
	width: 100%;
	margin-left: 1rem;
	border-bottom: 1px solid #393939;
}

.comment-user-avatar {
	border-radius: 50%;
	height: 3rem;
}

/* Thumbnail */
/* -------------------------------------- */
.thumbnail-image-container {
	position: relative;
	display: flex;
}

.thumbnail-image-container,
.recommendation-item-container,
.thumbnail-info-container {
	cursor: pointer;
}

.thumbnail-image-container::before {
	content: attr(data-duration);
	position: absolute;
	background-color: rgba(0, 0, 0, 0.85);
	color: white;
	right: 5px;
	bottom: 5px;
	font-weight: 500;
	padding: 0.1em 0.3em;
	border-radius: 0.3em;
	font-size: 0.9rem;
}

.thumbnail-img-overlay {
	visibility: hidden;
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	top: 0;
}

.thumbnail-image-container:hover .thumbnail-img-overlay {
	visibility: initial;
}

.thumbnail-img-overlay .btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
	margin: 0.4rem 0.4rem 0 0;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.9);
}

.thumbnail-img-overlay img {
	width: 20px;
	height: 20px;
}

.recommendation-item-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem 1rem;
}

/* Media Queries */
/* -------------------------------------- */
@media only screen and (max-width: 1020px) {
	.mainContentWrapper {
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (min-width: 2560px) {
	.thumbnail-image-container::before {
		right: 95px;
	}
}

@media only screen and (max-width: 768px) {
	.thumbnail-image-container::before {
		right: 30px;
	}
}

@media only screen and (max-width: 426px) {
	.thumbnail-image-container::before {
		right: 5px;
	}
}
